Schemas/got.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xsd:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
	<xs:element name="ArrayOfGameOfThronesCharacter">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="GameOfThronesCharacter">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Id" type="xs:unsignedShort" />
							<xs:element name="FirstName" type="xs:string" />
							<xs:element name="LastName" type="xs:string" />
							<xs:element name="FullName" type="xs:string" />
							<xs:element name="Title" type="xs:string" />
							<xs:element name="Family" type="xs:string" />
							<xs:element name="Image" type="xs:string" />
							<xs:element name="ImageUrl" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xsd:schema>